  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-10">
        <center>
          <div class="outer">
            <div class="inner"><strong><h1 class="white_text">Welcome to BNHair</h1></strong></div>
          </div>
        </center>
      </div>
    </div>
  </div>

