<div id="footer">
  <div class="container">
    <div class="row">
      <br>
      <div class="col-md-4">
        <center>
          <img src="../../assets/images/facebook.png" class="img-circle" alt="Facebook">
          <br>
          <strong><h4 class="footertext">Facebook</h4></strong>
        </center>
      </div>
      <div class="col-md-4">
        <center>
          <img src="../../assets/images/instagram.png" class="img-circle" alt="Instagram">
          <br>
          <strong><h4 class="footertext">Instagram</h4></strong>
        </center>
      </div>
      <div class="col-md-4">
        <center>
          <img src="../../assets/images/twitter.png" class="img-circle" alt="Twitter">
          <br>
          <strong><h4 class="footertext">Twitter</h4></strong>
        </center>
      </div>
    </div>
    <div class="row">
      <p><center>
        <strong><p class="footertext">510-690-9655 * 22550 Main Street * Hayward, CA 94541</p></strong>
        <!-- <a href="#">Email@gmail.com</a> -->
        <img src="../../assets/images/mail.png" class="img-circle" alt="Twitter">
        <br>
        <strong><h4 class="footertext">Email</h4></strong>
        <br>
        <img src="../../assets/images/brittany_logo.png" alt="BNhair Studio">
        <br>
        <br>
        <br>
        <br>
        <strong><p class="footertext">Copyright 2016</p></strong>
      </center></p>
    </div>
  </div>
</div>