<body class="box">

  <div class="container-fluid">
    <div class="row">
      <br>
      <div class="col-md-10">
        <div class="col-md-10 col-md-offset-4">
          <center>
           <p class="text-center">
            <ul class="nav nav-pills">
              <li role="presentation"><a href="#">HOME</a></li>
              <li role="presentation"><a href="#">OUR TEAM</a></li>
              <li role="presentation"><a href="#">BLOG</a></li>
              <li role="presentation"><a href="#">SERVICES & POLICIES</a></li>
              <li role="presentation"><a href="#">CONTACT</a></li>
            </ul>
          </p>
        </center>
      </div>
    </div>
  </div>
</div>

</body>
